/* reset css */
*{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html{
	font-size: 62.5%;
	line-height: 1.6rem;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

.app {
	height: 100vh;
	display: flex;
	background-color: rgb(147, 148, 108);
}

.calculator {
	width: 260px;
	height: 300px;
	margin: auto;
	background-color:#1d1b1f;
	border-radius: 14px;

}

.screen {
	width: 228px;
	height: 54px;
	margin-top: 16px;
	margin-left: auto;
    margin-right: auto;
	background-color:#a1af77 ;
	
}

.keyboard {
	width: 220px;
	height: 202px;
	margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
	background-color: #58595b;
	color: #fff;
	width: 100%;
	height: 100%;
}

.btn:hover {
	background-color: #797b7f;
}

.button-c {
	background-color: rgb(104, 16, 16);
}